<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/ngStorage.min.js"></script>
    <script src="js/ng-cordova.min.js"></script>

    <!--<script src="js/google-script.js"></script>-->
    <!--<script src="https://apis.google.com/js/client.js?onload=checkAuth">
    </script>-->

    <!--<script src="js/xml2json.min.js"></script>-->

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="snapit" ng-controller="snapitCtrl">
  <ion-side-menus>
    <ion-side-menu-content>
      <ion-nav-bar class="bar-light">
        <ion-nav-back-button class="button-icon"><span class="icon ion-ios-arrow-left"></span></ion-nav-back-button>
      </ion-nav-bar>
      <ion-nav-view></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
      <ion-header-bar class="bar bar-header bar-dark"></ion-header-bar>
      <ion-content>
      <ion-list>
        <ion-item ng-repeat="Ctg in Category" ng-if="true" ng-click="selectCategory(Ctg)" href="#/{{Ctg.stateName}}" class="center" ng-class="{active:activeCategory == Ctg}" menu-toggle="left">
        {{Ctg.title}}
        </ion-item>
        <ion-item class="center" menu-toggle="left" href="#/newproduct" ng-click="takePicture()">
          Snapp-it
        </ion-item>
      </ion-list>
    </ion-content>
    </ion-side-menu>

  </ion-side-menus>

  <script type="text/ng-template" id="home.html" >
      <ion-view title="Home">
      <ion-nav-buttons side="right" >
        <button class="button button-icon button-clear ion-search" ng-click="openSearch()"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left" hide-back-button="true">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-content scroll="false">
        <div class="row no-padding">
          <ion-slide-box on-slide-changed="slideHasChanged($index)">
            <ion-slide ng-repeat="Ctg in Category" ng-if="Ctg.onMain">
              <a ui-sref="{{Ctg.stateName}}" class="no-decorate"><div banner="{{Ctg.url}}" ng-click="getItems('{{Ctg.stateName}}')" class="row row-bottom banner-category" style="padding-bottom:2vh;">
                <div class="col center"><h1 class="white pad-caption">{{Ctg.title}}</h1></div>
              </div>
              </a>
            </ion-slide>
          </ion-slide-box>
          </div>
        </ion-content>
        </ion-view>
      </script>
      <script type="text/ng-template" id="imagefull.html">
      <ion-view title="Image">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search" ng-click="openSearch()"></button>
      </ion-nav-buttons>
      <ion-content scroll="false">
          <img ng-src="{{imageHolder}}" style="width:100%;height:100%" />
          <p><br><br><br><br>Imagefull</p>
        </ion-content>
      </ion-view>
      </script>
      <script type="text/ng-template" id="boys.html">
      <ion-view title="Boys">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search" ng-click="openSearch()"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-content>
      <div class="row" ng-repeat="items in itemsData">
          <div style="col-25">
            <img style="width:100%;height:150px" ng-click="showFullscreen(items)" ng-src="http://10.10.0.234/api/category/{{items.category}}/{{items.imgurl}}" />
          </div>
          <div class="col-50" style="margin-left:10px">
          <p><b>{{items.itemtitle}}</b></p>
          <p><b>Price:</b> Rs.{{items.price}}</p>
          <p><b>Ratings:</b>{{items.rating}}/5</p>
          <p><b>Item Details: </b>{{items.description}}</p>
          </div>
        </div>
        </ion-content>
        </ion-view>
      </script>
      <script type="text/ng-template" id="girls.html">
      <ion-view title="Girls">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search" ng-click="openSearch()"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-content>
        <div class="row" ng-repeat="items in itemsData">
          <div style="col-25">
            <img style="width:100%;height:150px" ng-click="showFullscreen(items)" ng-src="http://10.10.0.234/api/category/{{items.category}}/{{items.imgurl}}" />
          </div>
          <div class="col-50" style="margin-left:10px">
          <p><b>{{items.itemtitle}}</b></p>
          <p><b>Price:</b> Rs.{{items.price}}</p>
          <p><b>Ratings:</b>{{items.rating}}/5</p>
          <p><b>Item Details: </b>{{items.description}}</p>
          </div>
        </div>
        </ion-content>
        </ion-view>
      </script>
      <script type="text/ng-template" id="men.html">
      <ion-view title="Men">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search" ng-click="openSearch()"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-content>
        <div class="row" ng-repeat="items in itemsData">
          <div style="col-25">
            <img style="width:100%;height:150px" ng-click="showFullscreen(items)" ng-src="http://10.10.0.234/api/category/{{items.category}}/{{items.imgurl}}" />
          </div>
          <div class="col-50" style="margin-left:10px">
          <p><b>{{items.itemtitle}}</b></p>
          <p><b>Price:</b> Rs.{{items.price}}</p>
          <p><b>Ratings:</b>{{items.rating}}/5</p>
          <p><b>Item Details: </b>{{items.description}}</p>
          </div>
        </div>
        </ion-content>
      </ion-view>
      </script>
      <script type="text/ng-template" id="women.html">
      <ion-view title="Women">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search" ng-click="openSearch()"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-content>
        <div class="row" ng-repeat="items in itemsData">
          <div style="col-25">
            <img style="width:100%;height:150px" ng-click="showFullscreen(items)" ng-src="http://10.10.0.234/api/category/{{items.category}}/{{items.imgurl}}" />
          </div>
          <div class="col-50" style="margin-left:10px">
          <p><b>{{items.itemtitle}}</b></p>
          <p><b>Price:</b> Rs.{{items.price}}</p>
          <p><b>Ratings:</b>{{items.rating}}/5</p>
          <p><b>Item Details: </b>{{items.description}}</p>
          </div>
        </div>
        </ion-content>
      </ion-view>
      </script>
      <script type="text/ng-template" id="family.html">
      <ion-view title="Family">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search" ng-click="openSearch()"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-content>
        <div class="row" ng-repeat="items in itemsData">
          <div style="col-25">
            <img style="width:100%;height:150px" ng-click="showFullscreen(items)" ng-src="http://10.10.0.234/api/category/{{items.category}}/{{items.imgurl}}" />
          </div>
          <div class="col-50" style="margin-left:10px">
          <p><b>{{items.itemtitle}}</b></p>
          <p><b>Price:</b> Rs.{{items.price}}</p>
          <p><b>Ratings:</b>{{items.rating}}/5</p>
          <p><b>Item Details: </b>{{items.description}}</p>
          </div>
        </div>
        </ion-content>
        </ion-view>
      </script>
      <script type="text/ng-template" id="homedecor.html">
      <ion-view title="Home Decor">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search" ng-click="openSearch()"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-content >
        <div class="row" ng-repeat="items in itemsData">
          <div style="col-25">
            <img style="width:100%;height:150px" ng-click="showFullscreen(items)" ng-src="http://10.10.0.234/api/category/{{items.category}}/{{items.imgurl}}" />
          </div>
          <div class="col-50" style="margin-left:10px">
          <p><b>{{items.itemtitle}}</b></p>
          <p><b>Price:</b> Rs.{{items.price}}</p>
          <p><b>Ratings:</b>{{items.rating}}/5</p>
          <p><b>Item Details: </b>{{items.description}}</p>
          </div>
        </div>
        </ion-content>
        </ion-view>
      </script>
      <script type="text/ng-template" id="gadgets.html">
      <ion-view title="Gadgets">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search" ng-click="openSearch()"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-content >
        <div class="row" ng-repeat="items in itemsData">
          <div style="col-25">
            <img style="width:100%;height:150px" ng-click="showFullscreen(items)" ng-src="http://10.10.0.234/api/category/{{items.category}}/{{items.imgurl}}" />
          </div>
          <div class="col-50" style="margin-left:10px">
          <p><b>{{items.itemtitle}}</b></p>
          <p><b>Price:</b> Rs.{{items.price}}</p>
          <p><b>Ratings:</b>{{items.rating}}/5</p>
          <p><b>Item Details: </b>{{items.description}}</p>
          </div>
        </div>
        </ion-content>
        </ion-view>
      </script>
      <script type="text/ng-template" id="bedding.html">
      <ion-view title="Bedding">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search" ng-click="openSearch()"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-content >
        <div class="row" ng-repeat="items in itemsData">
          <div style="col-25">
            <img style="width:100%;height:150px" ng-click="showFullscreen(items)" ng-src="http://10.10.0.234/api/category/{{items.category}}/{{items.imgurl}}" />
          </div>
          <div class="col-50" style="margin-left:10px">
          <p><b>{{items.itemtitle}}</b></p>
          <p><b>Price:</b> Rs.{{items.price}}</p>
          <p><b>Ratings:</b>{{items.rating}}/5</p>
          <p><b>Item Details: </b>{{items.description}}</p>
          </div>
        </div>
        </ion-content>
        </ion-view>
      </script>
      <script type="text/ng-template" id="newproduct.html">
      <ion-view title="Uploaded Pic">
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search" ng-click="openSearch()"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-content >
        <div class="row no-padding">
          <div class="col" id="server_images"></div>
        </div>
        <div id="imageContent">
        <form ng-submit="submitImage(myImg)">
        <div class="row center">
          <img ng-src="{{myImg.sourc}}" style="width:100%;height:300px"/>
        </div>
        <div class="row center">
          <p size>Product Info</p>
        </div>
        <label class="input item-input">
        <span class="input-label">Product Title:&nbsp;</span>
          <input type="text" placeholder="Product Name?" ng-model="myImg.title" required>
        </label>
        <label class="item item-input item-select">
            <div class="input-label">
                Category&nbsp;
            </div>
            <select ng-model="myImg.category">
                <option value="-1" >--Select--</option>
                <option ng-repeat="Ctg in Category" ng-if="Ctg.stateName!='home' && $index!=1" value="{{Ctg.stateName}}" >{{Ctg.title}}</option>
            </select>
        </label>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Snappit</button>
        </div>
          
        </form>
        </div>
        </ion-content>
        </ion-view>
      </script>

</body>
</html>
